# Copyright (c) 2011-2016, 2018-2021 The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

on boot
    enable vendor.qcrild
    enable vendor.qcrild2

on init
    chown wifi wifi /sys/module/wlan/parameters/fwpath

    # Setup all the sub-system as related
    write /sys/bus/msm_subsys/devices/subsys0/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys1/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys2/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys3/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys4/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys5/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys6/restart_level RELATED

on post-fs-data
    mkdir /data/vendor/qcam 0770 camera camera

# Restart camera provider after vendor.qcamerasvr is running
on property:init.svc.vendor.qcamerasvr=running
    exec /bin/sleep 1s
    restart vendor.camera-provider-2-4

on property:sys.boot_completed=1
    restart time_daemon

 # write caching
    # Tell the kernel to use up to 99% of the RAM as cache for writes
    # and instruct kernel to use up to 50% of RAM before slowing down
    # the process that's writing.
    write /proc/sys/vm/dirty_ratio 99
    write /proc/sys/vm/dirty_background_ratio 50

    # Tell that 10 minutes write delay is ok to even start writing
    # stuff on the disk (ten minutes = 60000; 1 hour 360000).
    write /proc/sys/vm/dirty_expire_centisecs 60000
    write /proc/sys/vm/dirty_writeback_centisecs 60000